.timer{
	text-align: left;
	width: 100%;
	/* line-height: 1.2; */
	display: flex;
	/* height: 12%; */
	justify-content: center;
}

.all-digits {
	text-align: left;
	font-size: calc(1em + 1vw);
	font-family: 'Montserrat', sans-serif;
}

.digits{
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 6rem;
	color: black;
	text-align: left;
	font-family: 'Montserrat', sans-serif;
}

.mili-sec{
	color: #000000;
	
}

.time-elapsed{
	color: rgb(0, 0, 0);
	text-align: left;
	font-family: 'Montserrat', sans-serif;
	font-size: calc(2em + 1vw);

}
.right-aligned-digits {
	text-align: left;
	align-items: left;
	margin-left: auto;
}