h1 {
  font-size: 60px;
}
h3 {
  font-size: 28px;
}

.title-header {
  text-align: center;
  padding-top: 6px;
  padding-bottom: 6px;
  color: white;
  border-radius: 6px;
  line-height: .6;
  background: linear-gradient(to bottom right, rgba(6, 57, 35, 0.4), rgb(85, 163, 129)), url("/Users/chloemintel/Front-End-Purple-Rain/that-guide/src/atmountains.jpg");
  background: -webkit-linear-gradient(to bottom right, rgb(13, 113, 70), .4, rgb(85, 163, 129)), url("/Users/chloemintel/Front-End-Purple-Rain/that-guide/src/atmountains.jpg");
  font-family: 'Playfair Display', serif;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  background-size: cover;
  font-weight: bold;
  border: 1px solid grey;
  margin-bottom: 10px;
}


.nav-bar {
  text-align: center;
  display: flex;
  justify-content: space-around;
  margin-left: 10%; 
  margin-right: 10%;
}

.location-header {
  text-align: center;
  border: 2px solid black;
  line-height: .6;
  width: 60%;
  margin: auto;
}

.map-container {
  border-radius: 3px;
  margin-top: 10px;
  height: 400px;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.hike-starter {
  border: 2px solid black;
  text-align: center;
  margin-top: 20px;

  padding-top: 6px;
  padding-bottom: 6px;
  color: white;
  border-radius: 6px;
  line-height: .6;
  background-image: linear-gradient(to bottom right, rgb(13, 60, 113), rgb(85, 125, 163));
  font-family: 'Playfair Display', serif;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  font-weight: bold;
  border: 1px solid grey;
  margin-bottom: 10px;
}

.hike-starter-container {
  display: flex;
  align-items: center;
  margin-left: 60%;


}

.current-hike-stats {
  border: 2px solid black;
  text-align: center;
  /* width: 75%; */
  margin: auto;
}

.distance-input {
  width: 175px;
  text-align: center;
}

.load-screen {
  animation: fadeOutAnimation ease .5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeOutAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
   }
}