/* .marker {
    background-image: url('/Users/anle/Momentum/p4/Front-End-Purple-Rain/that-guide/public/mapbox-icon.png');
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
  }  */

  .current-stats {
    text-align: center;
    border: 2px solid black;
    margin-bottom: 5px;
  }

  .shelter-marker {
    background-image: url('./mapIcons/campsite.png');
    background-size: cover;
    width: 2.5vh;
    height: 2.5vh;
    cursor: pointer;
  }

  .water-marker {
    background-image: url('./mapIcons/waterdrop.png');
    background-size: cover;
    width: 3vh;
    height: 3vh;
    cursor: pointer;
  }

  .mapboxgl-popup {
    max-width: 200px;
  }
  
  .mapboxgl-popup-content {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
  }
  