
  .current-stats {
    text-align: center;
    border: 2px solid black;
    margin-bottom: 5px;
  }

  .user-marker {
    background-image: url('./mapIcons/hiker.png');
    background-size: cover;
    width: 25px;
    height: 25px;
    cursor: pointer;
  }

  .shelter-marker {
    background-image: url('./mapIcons/campsite.png');
    background-size: cover;
    width: 5px;
    height: 5px;
    cursor: pointer;
  }

  .water-marker {
    background-image: url('water-drops-removebg-preview.png');
    background-size: cover;
    width: 2%;
    height: 2%;
    cursor: pointer;
  }

  .mapboxgl-popup {
    max-width: 200px;
  }
  
  .mapboxgl-popup-content {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
  }
  