

  .current-stats {
    border: 2px solid black;
    text-align: center;
    margin-top: 20px;
    padding-top: 6px;
    padding-bottom: 6px;
    color: white;
    border-radius: 6px;
    line-height: .6;
    background-image: linear-gradient(to bottom right, rgb(15, 113, 111), rgb(21, 144, 142));
    font-family: 'Playfair Display', serif;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    font-weight: bold;
    border: 1px solid grey;
    margin-bottom: 10px;
  }

  .user-marker {
    background-image: url('./mapIcons/hiker.png');
    background-size: cover;
    width: 25px;
    height: 25px;
    cursor: pointer;
  }

  .shelter-marker {
    background-image: url('./mapIcons/campsite.png');
    background-size: cover;
    width: 5px;
    height: 5px;
    cursor: pointer;
  }

  .water-marker {
    background-image: url('water-drops-removebg-preview.png');
    background-size: cover;
    width: 2%;
    height: 2%;
    cursor: pointer;
  }

  .mapboxgl-popup {
    max-width: 200px;
  }
  
  .mapboxgl-popup-content {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
  }
  