.whole-stats-container {
    display: flex;
    justify-content: space-between;
    
    
}

.left-container {
    padding: 10px;
    width: 50%;
}

.right-container {
    padding: 10px;
    width: 50%;
}
.distance-hiked, .distance-remaining, 
.miles-per-hour {
    border: 1px solid white;
    border-radius: 5px;
    margin: 5px;
    font-size: calc(0.75em + 1vw);
    line-height: 1.3;
  text-align: center;
  color: white;
  border-radius: 6px;
  background-image: linear-gradient(to bottom right, rgb(17, 36, 56), rgb(65, 99, 129));
	display: flex;
  font-family: 'Playfair Display', serif;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  font-weight: bold;
  width: 75%;
}

button {
    padding: 4px;
    margin: 8px;
}

.starthike-map {
    border: 4px solid black;
    margin-top: 10px;
    width: auto;
    /* width: 300px; */
    margin-left: auto;
    margin-right: auto;
    }
    
    .second-location-header {
    text-align: center;
    margin-top: 20px;

    padding-top: 6px;
    padding-bottom: 6px;
    color: white;
    border-radius: 6px;
    line-height: .6;
    background: linear-gradient(to bottom right, rgba(137, 130, 80, 0.668), rgba(227, 219, 157, 0.67)), url("/public/trailmap.png");
    /* background: -webkit-linear-gradient(to bottom right, rgb(13, 113, 40), .4, rgb(104, 163, 85)), url("/public/trailmap.png"); */
    font-family: 'Playfair Display', serif;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 4px 12px;
    font-weight: bold;
    margin-bottom: 10px;
    backdrop-filter: blur(5px);
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    }