.whole-stats-container {
    display: flex;
    width: 95%;
    margin: auto;
    justify-content: center;
}

.left-container {
    text-align: left;
    justify-content: center;
    padding: 10px;
}

.right-container {
    text-align: right;
    padding: 10px;
}
.distance-hiked, .distance-remaining, 
.time-elapsed, .miles-per-hour {
    border: 2px solid black;
    padding: 5px;
    margin: 3px;
}

button {
    padding: 4px;
    margin: 8px;
}

.starthike-map {
    border: 4px solid black;
    margin-top: 10px;
    height: 400px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
  }

  .testing {
    
  }