.stop-watch {
	width: 65%;
	background-color: #232239;
	display: flex;
	border: 1px solid white;
	border-radius: 10px;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	margin-left: auto;
	margin-right: auto;
}
